{% extends 'index.html'%}
{% block delete %}
<div class="forms">
    <form action="{{deletar}}" method="post" id="deletar">{% csrf_token %}
        <p>Tem certeza que deseja deletar o post?</p>
        <label for="sim">sim</label>
        <input type="checkbox" name="sim" id="sim" onclick="vai(this)">
        <label for="nao">Não</label>
        <input type="checkbox" name="nao" id="nao" onclick="vai(this)">
        <input type="submit" value="submit">
    </form>
</div>
<script>
    function vai(x){
        if(x.id == 'sim'){
         
          document.querySelector('input[id="nao"]').checked = false
        } else {
          document.querySelector('input[id="sim"]').checked = false
        }
      }
</script>

{% endblock %}